.main__contain {
  width: 100%;
}
.sidebar-main-content {
 width: 280px;
  height: 100vh;
}

.home_dropdown {
  padding: 7px;
  width: 190px;
  display: flex;
  float: right;
}

.map-container-home {
  width: 100%;
  height: 40vh;
}

/* volume component css start here */

.circle {
  font-family: Verdana;
  overflow: hidden;
  border: 1px solid;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circle-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: black;
}

.circle-fill-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}

.circle-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  animation: circle-overlay-anim 1s forwards;
  transform-origin: 0 0;
}

@keyframes circle-overlay-anim {
  100% {
    transform: scaleY(0);
  }
}
/* volume component css end here */